
body {
    background-color: #f3eeeb;
    font-family: 'Lato', sans-serif;
    color: #727D71;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

h1 {
    text-align: center;
      margin: -20px 0;
}

p {
    text-align: center;

}

img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 15px 0;
}

.qwit {
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
    font-size: 100px;
}

.qwitb {
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
    font-size: 80px;
}

.montserrat {
    text-align: center;
    font-style: italic;
}

.negrita {
    font-family: 'Lato', sans-serif;
    color: #727D71;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe el alto de la pantalla */
    text-align: center;
}

button {
    background-color: #727D71;
    color: #f3eeeb;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

input {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.red-text {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
}
